.conatinerBox{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 0.5rem;
    margin-top: 6rem;
    height: fit-content;
}

.conatinerBox h1{
    font-size: 3rem;
    font-weight: 800;
}

.container2{
    display: flex;
    flex-direction: column;
}

.themesBox1{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: 2.5rem 0px;
    flex-wrap: wrap;
}

.template, .template2, .template3, .template4{
    height: 35rem;
    border: 0px;
    border-radius: 0.8rem;
    cursor:pointer;
    /* box-shadow: rgba(248, 244, 244, 0.16) 0px 1px 4px; */
}

.template:hover, .template2:hover, .template3:hover, .template4:hover{
    height: 35.5rem;
}

.container3{
    display: flex;
    flex-direction: rows;
    gap: 3rem;
}
