#phone_display{
    width: 352px;
    height: 720px;
    /* border: solid black 12.5px; */
    border-radius: 5px;
    /* background-image: url(""); */
}

#phone_display_img{
    width: 335px;
    height: 698px;
    border-radius: 15px;
    position: relative;
    z-index: 1; 
}

#template_img{
    border: solid grey 1px;
    border-radius: 5px;
}

.displayCName{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;  /* Example text formatting */
    text-shadow: 1px 1px 2px black;  /* Example text formatting */
    font-size: 40px;
}

.InfoImg{
    width: 23px;
}

.links{
    width: 32px;
}
.servicesImg{
    width: 32px;
}

#services{
    background-image: linear-gradient(to right, #ff66c4, #ff729a, #ff9273, #ffb859, #ffde59);
}